body {
  font-family: 'Abril  Fatface', cursive;
  margin: auto;
  background-color: #300101;
  color: white;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-style: italic;
  color: #900C3F;
}
p {
  font-style: italic;
  font-family: 'Indie Flower', cursive;
  text-align:  justify;
  font-size: 25px;
  color: #C70039;
}
ul{
  color: #FFC300;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}
img{
  height: 300px;
  padding-left: 150px;

}
